body {
	background-color: lightgray;
	color: black;
	font-family: Times New Roman, Helvetica, sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.menu {
	border: 3px solid white;
	overflow: hidden;
	padding: 5px;
}

table, .table {
	width: 100%;
	border: 3px solid black;
	background-color: gray;
	font-color: white;
	padding: 4px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
}

td, th {
	border: 1px solid #dddddd;
	padding: 8px;
}

h2 {
	margin: 0;
	text-align: center;
}

.table td, .table th {
	border: 1px solid #ddd;
	padding: 8px;
}

.table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.table tr:hover {
	background-color: #ddd;
}

.table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #444;
	color: white;
}

.table tr.selected {
	background-color: #e3ffe4;
}