<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/static/main.css}" />
<title>Login</title>
</head>
<body>
	<div class="menu">
		<a th:href="@{/}">Home</a>
		<a th:href="@{/products}">Products</a>
	</div>

	<h1>Login</h1>
	
<div class="form-wrapper">
		<h6 th:if="${wrong}">Wrong user name password combination!</h6>
		<form name="loginForm" th:action="@{/login}" th:object="${user}" method="POST">
			<table>
				<tr>
					<td>User name:</td>
					<td><input type="text" class="form-control" id="username" th:field="*{username}" /></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><input type="password" id="password" th:field="*{pass}" /></td>
				</tr>
				<tr>
				
					<td><button>Login</button></td>
				</tr>
			</table>
		</form>
	</div>

</body>
</html>